<div class="m-auto max-w-2xl">
  <div class="image m-auto mt-8 mb-8">
    <div class="flex flex-col">
      <a class="m-auto" routerLink="/">
        <img class="w-20" src="assets/logo.png">
      </a>
    </div>
    <p class="text-center">Forgot password?</p>
  </div>
  <div class="ui very padded container segment">
    <sui-message *ngIf="error" class="error margin-b-4">
      <div class="header">
        Error
      </div>
      <p>{{ error }}</p>
    </sui-message>
    <sui-message *ngIf="info" class="info margin-b-4">
      <div class="header">
        Info
      </div>
      <p>{{ info }}</p>
    </sui-message>
    <form class="ui form" [formGroup]="forgotPasswordForm">
      <app-input name="Email address" placeholder="Email address" type="email"
                 [formCtrl]="emailFormControl"></app-input>
      <div class="mb-4">
        <button name="login" (click)="onForgotPasswordClick()" class="ui button primary"
                [disabled]="isLoading || !forgotPasswordForm.valid"
                [ngClass]="[forgotPasswordForm.valid ? '' : 'disabled', isLoading ? 'disabled loading' : '']" type="button">Send reset email
        </button>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy;2019 Notenic. All rights reserved.
    </p>
  </div>
</div>
