<div class="markdown-editor">
  <sui-sidebar-container class="ui bottom">
    <sui-sidebar class="inverted vertical markdown-editor__sidebar" transition="overlay" direction="right"
                 [isVisible]="true" #sidebar>
      <div class="ui inverted markdown-editor__sidebar-content">
        <h3>Note settings</h3>

        <sui-message (dismiss)="resetError()" *ngIf="error" class="error margin-b-4">
          <div class="header">
            Error
          </div>
          <p>{{ error }}</p>
        </sui-message>

        <div class="ui inverted">
          <label class="ui inverted">Title</label>
          <div class="ui inverted mini fluid input">
            <input [formControl]="titleFormControl" name="title" type="text">
          </div>
          <div class="ui inverted divider"></div>


          <div>
            <div class="type-radio">
              <input [formControl]="publicFormControl" value="true" [checked]="true" name="type" type="radio">
              <div class="type-radio__text">
                <i class="icon file alternate outline type-radio__text-icon"></i>
                <label class="ui inverted">Public</label>
              </div>
            </div>

            <div class="type-radio">
              <input [formControl]="publicFormControl" value="false" name="type" type="radio">
              <div class="type-radio__text">
                <i class="icon lock alternate type-radio__text-icon"></i>
                <label class="ui inverted">Private</label>
              </div>
            </div>
          </div>

          <div class="ui inverted divider"></div>

          <div class="ui right labeled left mini fluid icon input">
            <i class="tags icon"></i>
            <input [formControl]="tagsFormControl" (keyup.enter)="addTag()" name="tags" type="text" placeholder="Enter tags">
            <a (click)="addTag()" class="ui tag label">
              Add Tag
            </a>
          </div>

          <div class="ui inverted mini fluid input">
            <div class="ui tags-container">
              <div *ngFor="let tag of tags" class="tags-container-tag">
                {{ tag }}
                <i (click)="removeTag(tag)" class="icon close alternate tags-container-tag-icon"></i>
              </div>
              <div *ngIf="tags.length === 0" class="tags-container-empty">
                No tags
              </div>
            </div>
          </div>

          <div class="ui inverted divider"></div>

          <label class="ui inverted">Image</label>
          <div class="ui inverted mini fluid input">
            <div *ngIf="!imgSrc" class="ui card">
              <div class="image">
                <div class="ui markdown-editor__sidebar-content-picker">
                  <input [formControl]="imageFormControl" type="file" name="image" accept="image/*" style="display: none" (change)="selectImage($event)" #image>
                  <button class="ui secondary mini button" (click)="image.click()">Select image</button>
                </div>
              </div>
            </div>
            <div *ngIf="imgSrc" class="ui markdown-editor__sidebar-content-preview">
              <button name="delete-image" (click)="removeImage()" class="ui red icon mini button ui markdown-editor__sidebar-content-preview-delete">
                <i class="trash icon"></i>
              </button>
              <img class="ui medium bordered image markdown-editor__sidebar-content-preview-image" [src]="imgSrc" >
            </div>
          </div>
          <div class="ui inverted divider"></div>

          <input [formControl]="contentImagesFormControl" type="file" multiple name="content-images" accept="image/*" style="display: none" (change)="selectContentImages($event)" #contentImages>
          <button class="ui mini fluid button" (click)="contentImages.click()">Upload content images</button>

          <div class="ui inverted divider"></div>

          <button *ngIf="user?.id === collaboration?.user.id" class="ui mini fluid button icon labeled" (click)="onInviteCollaboratorsClicked()"><i class="icon handshake"></i>Invite collaborators</button>

          <div class="ui inverted mini fluid input">
            <div class="ui collaborators-container">
              <div class="ui middle aligned divided list" *ngFor="let collaborator of collaboration?.collaborators">
                <div class="collaborator-item" [ngClass]="user.id === collaborator.id ? 'collaborator-item-active' : ''">
                  <img class="ui avatar image" [src]="collaborator | userImage">
                  <div class="content">
                    <div class="collaborator-item-header">{{ collaborator.username }}</div>
                  </div>
                </div>
              </div>
              <div *ngIf="collaboration?.collaborators.length === 0" class="tags-container-empty">
                No collaborators
              </div>
            </div>
          </div>

          <div class="ui inverted divider"></div>

          <button (click)="publishCollaboration()" class="ui small primary button">
            Publish
          </button>
        </div>
      </div>
    </sui-sidebar>
    <sui-sidebar-sibling>
      <div class="markdown-editor__container">
        <div class="markdown-editor__container-header">
          <div class="markdown-editor__container-header-item">Markdown</div>
          <div class="markdown-editor__container-header-item">Preview</div>
          <div>
            <button name="publish" (click)="sidebar.toggle()" class="ui icon button markdown-editor__container-header-button">
              <i class="icon settings"></i>
            </button>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="markdown-editor__container-markdown">
          <textarea name="markdown" [formControl]="markDownFormControl" class="markdown-editor__container-markdown-variable-textarea"></textarea>
          <markdown lineNumbers class="markdown-editor__container-markdown-variable-binding"
                    [data]="markDownFormControl.value"></markdown>
        </div>
      </div>
    </sui-sidebar-sibling>
  </sui-sidebar-container>
</div>
