.gender {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gender-images {
  display: flex;
  flex-direction: row;

  &-image {
    width: 100px;
    height: 100px;
  }
}

.gender-buttons {
  width: 200px;
  margin-top: 1rem;

  &-button {
    width: 100px;
  }
}

.basic-outline {
  color: #2185d0 !important;
  background-color: #FFFFFF !important;
  border: 1px solid #2185d0 !important;
}
