<div *ngIf="user" class="profile">
  <div class="main ui centered container segment">
    <div class="profile-content">

      <div class="description">
        <div class="comment profile-header">
          <a class="avatar">
            <img class="avatar-image" [src]="user | userImage">
          </a>
          <div class="content profile-header-info">
            <div class="profile-header-info-name">{{ user.firstName }} {{ user.lastName }}
              <div class="flex flex-row text-base ml-4">
                <div class="flex flex-col">
                  <div class="flex flex-row">
                    <div class="flex flex-1 justify-center mr-2">{{ user.following.length }}</div>
                    <div class="flex flex-1 justify-center">{{ user.followers.length }}</div>
                  </div>
                  <div class="flex flex-row">
                    <div class="flex flex-1 justify-center mr-2">Following</div>
                    <div class="flex flex-1 justify-center">Followers</div>
                  </div>
                </div>
                <div class="flex flex-1"></div>
              </div>
            </div>
            <div *ngIf="loggedUser" class="mt-4">
              <button (click)="onFollowClick()" *ngIf="user.id !== loggedUser?.id"
                      [ngClass]="isFollowing() ? 'basic' : ''"
                      class="ui button primary profile-header-info-name-follow">{{ isFollowing() ? 'Unfollow' : 'Follow'
                }}
              </button>
            </div>
            <div><a routerLink="/edit-profile" *ngIf="user.id === loggedUser?.id"
                    class="ui button secondary profile-header-info-edit">Edit profile</a></div>
            <div *ngIf="user.about" class="profile-header-info-about">{{ user.about }}</div>
          </div>
          <div class="profile-header-divider"></div>
          <div class="content profile-header-data">
            <div class="content profile-header-data-item">
              <span class="profile-header-data-item-label">Joined</span>
              <span class="date">{{ user.createdAt | date }}</span>
            </div>
            <div *ngIf="user.education" class="content profile-header-data-item">
              <span class="profile-header-data-item-label">Education</span>
              <span class="date">{{ user.education }}</span>
            </div>

            <div *ngIf="user.work" class="content profile-header-data-item">
              <span class="profile-header-data-item-label">Work</span>
              <span class="date">{{ user.work }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="main ui centered container relative">
    <div class="ui segment list-title">{{ title }}</div>
    <div *ngIf="loggedUser?.id === user?.id" class="profile-actions ui segment">
      <div class="mb-4">
        <button (click)="onChangeTypeClick('MyNotes')" [ngClass]="activeTab === 'MyNotes' ? 'basic' : ''"
                class="ui button fluid labeled icon secondary"><i class="icon file alternate"></i>My notes
        </button>
      </div>
      <div class="mb-4">
        <button (click)="onChangeTypeClick('Collaborations')" [ngClass]="activeTab === 'Collaborations' ? 'basic' : ''"
                class="ui button fluid labeled icon secondary"><i class="icon handshake"></i>Collaborations
        </button>
      </div>
      <div>
        <button (click)="onChangeTypeClick('SavedNotes')" [ngClass]="activeTab === 'SavedNotes' ? 'basic' : ''"
                class="ui button secondary icon fluid labeled"><i class="icon bookmark"></i>Saved notes
        </button>
      </div>
    </div>
    <note-profile-notes *ngIf="activeTab === 'MyNotes'" [user]="user" [notes]="user.notes"></note-profile-notes>
    <note-profile-notes *ngIf="activeTab === 'Collaborations'" [user]="user" [notes]="[]"></note-profile-notes>
    <note-profile-notes *ngIf="activeTab === 'SavedNotes'" [user]="user" [notes]="bookmarkedNotes"></note-profile-notes>
  </div>
</div>
