<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item padding-0">
      <img class="logo" src="assets/logo.png">
    </div>
    <a routerLink="/" class="item font-bold">Notenic</a>
    <div *ngIf="!user" class="right menu">
      <a routerLink="/login" class="item">Login</a>
      <a routerLink="/register" class="item">Register</a>
    </div>
    <div *ngIf="user" class="right menu">
      <a routerLink="/note/create" class="item">Write note</a>
      <a routerLink="/profile/{{ user.username }}" class="item">Profile</a>
      <a (click)="onLogoutClick()" class="item">Logout</a>
      <note-notifications></note-notifications>
    </div>
  </div>
</div>
<div class="content h-full">
  <router-outlet></router-outlet>
</div>
